body {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
}

h1 {
    color: #FFFFFF;
}

.part-1 {
    text-align: center; 
    max-width: 1000px;   
    margin: 0 auto;      
    padding: 20px;       
  }

.links ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  

a {
    color: #5EEBFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
